{% load static %}
<section class="module content" id="projetos">
    <div class="scene">
        <label class="card-wrap">
            <input type="checkbox" class="flipcard">
            <div class="card">
                <div class="front card-face">
                    <img src="{% static 'personal_portfolio/images/code.jpg' %}" alt="" class="card-photo">
                </div>
                <div class="back card-face">
                    <p>Em breve!</p>
                </div>
            </div>
        </label>
        <label class="card-wrap">
            <input type="checkbox" class="flipcard">
            <div class="card">
                <div class="front card-face">
                    <img src="{% static 'personal_portfolio/images/code.jpg' %}" alt="" class="card-photo">
                </div>
                <div class="back card-face">
                    <p>Em breve!</p>
                </div>
            </div>
        </label>
        <label class="card-wrap">
            <input type="checkbox" class="flipcard">
            <div class="card">
                <div class="front card-face">
                    <img src="{% static 'personal_portfolio/images/code.jpg' %}" alt="" class="card-photo">
                </div>
                <div class="back card-face">
                    <p>Em breve!</p>
                </div>
            </div>
        </label>
    </div>
</section>