{% load static %}
<section class="module content" id="skills" style="padding-top: 8%;">
    <div class="options">
        <div class="option active" style="--optionBackground:url({% static 'personal_portfolio/images/html5.png' %});">
            <div class="shadow"></div>
            <div class="label">
                <div class="icon">
                    <img src="{% static 'personal_portfolio/images/html5.png' %}" />
                </div>
                <div class="info">
                    <div class="main">HTML5</div>
                </div>
            </div>
        </div>
        <div class="option" style="--optionBackground:url({% static 'personal_portfolio/images/css-3.png' %});">
            <div class="shadow"></div>
            <div class="label">
                <div class="icon">
                    <img src="{% static 'personal_portfolio/images/css-3.png' %}" />
                </div>
                <div class="info">
                    <div class="main">CSS3</div>
                </div>
            </div>
        </div>
        <div class="option" style="--optionBackground:url({% static 'personal_portfolio/images/js.png' %});">
            <div class="shadow"></div>
            <div class="label">
                <div class="icon">
                    <img src="{% static 'personal_portfolio/images/js.png' %}" />
                </div>
                <div class="info">
                    <div class="main">JavaScript</div>
                </div>
            </div>
        </div>
        <div class="option" style="--optionBackground:url({% static 'personal_portfolio/images/python.png' %});">
            <div class="shadow"></div>
            <div class="label">
                <div class="icon">
                    <img src="{% static 'personal_portfolio/images/python.png' %}" />
                </div>
                <div class="info">
                    <div class="main">Python</div>
                </div>
            </div>
        </div>
        <div class="option" style=" --optionBackground:url({% static 'personal_portfolio/images/djangoproject.png' %});">
            <div class="shadow"></div>
            <div class="label">
                <div class="icon">
                    <img src="{% static 'personal_portfolio/images/djangoproject.png' %}" />
                </div>
                <div class="info">
                    <div class="main">Django</div>
                </div>
            </div>
        </div>
        <div class="option" style=" --optionBackground:url({% static 'personal_portfolio/images/mysql.png' %});">
            <div class="shadow"></div>
            <div class="label">
                <div class="icon">
                    <img src="{% static 'personal_portfolio/images/mysql.png' %}" />
                </div>
                <div class="info">
                    <div class="main">MySQL</div>
                </div>
            </div>
        </div>
    </div>
</section>